body {
  margin: 0;
  background: black;
  overflow: hidden;
  color: white;
  font-family: sans-serif;
}

video, canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.ui {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

p {
  font-size: 24px;
  font-weight: bold;
}

button {
  font-size: 20px;
  padding: 10px 20px;
}
