body {
  margin: 0;
  text-align: center;
  background: black;
  color: white;
  font-family: sans-serif;
}

video, canvas {
  position: absolute;
  width: 100%;
}

.ui {
  position: fixed;
  bottom: 10px;
  width: 100%;
}

p {
  font-size: 22px;
  font-weight: bold;
}
