body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  background: black;
  color: white;
}

video, canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.ui {
  position: fixed;
  bottom: 10px;
  width: 100%;
  z-index: 10;
}

#instruction {
  font-size: 32px;
  font-weight: bold;
}

#score, #combo {
  font-size: 22px;
  font-weight: bold;
}

button, select {
  font-size: 18px;
  padding: 10px;
  margin: 5px;
}
